[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CensSpatial"]
	path = CensSpatial
	url = https://github.com/joalor93/censspatial
[submodule "OBASpatial"]
	path = OBASpatial
	url = https://github.com/cran/OBASpatial
